<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">



  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="Console" name="allLog"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />
    <target xsi:type="File" name="logFile" fileName="Log/log.txt"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />
    <target xsi:type="File" name="errorLog" fileName="Log/errors.txt"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allLog" />
    <logger name="*" minlevel="Info" writeTo="logFile" />
    <logger name="*" minlevel="Warn" writeTo="errorLog" />
  </rules>
</nlog>